.MovieFilter {
  height: calc(100vh - 90px); /* Adjust 60px to the height of your header */
  background: linear-gradient(to top, #30343f, #464c5c, #000);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MovieFilterContainer {
  background-color: green;
  width: 100%;
  height: 100%;
}

.Filtered {
  display: flex;
}

.FilteredContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
